.footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #006400; /* Dark green background */
  color: #ffffff; /* White text */
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
