@media (min-width: 600px) {
  .css-d37unq-MuiToolbar-root {
    min-height: 23px !important;
  }
}

.playStore-btn {
  width: 22%;
}

@media (max-width: 768px) {
  .css-332944 {
    padding: 10px;
  }
}

.custom-button-login {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px 10px 40px;
  text-transform: none;
}

.custom-button-login img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.list_items_footer {
  text-decoration: underline;
}

.list_items_footer:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

/* .topBar {
  position: static !important;
  padding: 5px 80px 5px 80px !important;
  background-color: black !important;
  height: 40px !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
} */

.navbar-container-landing {
  display: flex;
  justify-content: space-between;
  background-color: #fff7f1;
  padding: 0px 0px 0px 20px;
  gap: 16px;
  align-items: center;
}

.logo-container-landing {
  font-family: "Quicksand", sans-serif;
  margin: 0 10px 0;
}

.menu-container-landing-page {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.menu-container-landing-login {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-right: 54px;
}

.custom-button-login-landing-page {
  display: flex !important;
  padding: 5px 6px !important;
  transition: all 0.3s ease-in-out !important;
  background-color: white;
  color: #686e74;
  font-size: 13px !important;
  justify-content: center !important;
  font-family: "Open Sans";
}

.custom-button-login-landing-page.active {
  /* background-color: #F2FEDA ; */
  color: black;
}

/* 
.custom-button-login-landing-page:hover {
  background-color: #F2FEDA;
  color: black;
} */

.custom-button-login-landing-page:hover .icon-container-landing-page img {
  filter: invert(17%) sepia(91%) saturate(3902%) hue-rotate(125deg) brightness(87%) contrast(97%);
}

/* Icon styles */
.icon-container-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease-in-out;
}

.icon-container-landing-page img {
  filter: grayscale(100%) brightness(50%);
}

.custom-button-login-landing-page.active .icon-container-landing-page img {
  filter: none;
}

/* Dropdown menu styles */
.menu-item-landing-page {
  position: relative;
}

.menu-item-landing-page:hover {
  background-color: #ffffff;
  color: #086107;
}

/* Responsive Design */
@media (max-width: 1024px) {
  /* Tablets */
  .navbar-container-landing {
    padding: 10px 20px;
  }

  .custom-button-login-landing-page {
    min-width: 110px;
    font-size: 11px;
    padding: 7px 10px;
  }

  .menu-container-landing-page {
    gap: 5px;
  }

  .menu-container-landing-login {
    gap: 5px;
  }
}

@media (max-width: 768px) {
  /* Mobile - Hide Menu, Show Hamburger Icon */
  .menu-container-landing-page {
    display: none;
  }

  .menu-container-landing-login {
    padding: 0px;
    padding-right: 6px;
  }


  .hamburger-icon-landing {
    display: block !important;
    cursor: pointer;
    color: black;
    font-size: 24px;
    /* Adjust size */
  }
}

@media (min-width: 769px) {
  /* Hide Hamburger Icon on Larger Screens */
  .hamburger-icon-landing {
    display: none !important;
  }
}

/* Styles for the Drawer (Hamburger Menu) */
/* Drawer Sidebar Container */
/* Drawer Sidebar Container */
.drawer-container-landing {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  height: 100%;
}

/* Close Icon */
.close-icon-landing {
  align-self: flex-end;
  margin-bottom: 10px;
}

/* Sidebar Buttons */
.drawer-button-landing {
  display: flex;
  align-items: center;
  gap: 12px;
  /* Space between icon and text */
  background-color: white;
  color: #686e74;
  padding: 12px 16px;
  border-radius: 4px;
  text-align: left;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: flex-start;
  /* Align items to the left */
}

/* Ensure text and icon align properly */
.drawer-button-landing span {
  flex-grow: 1;
  /* Ensures the text aligns properly */
  font-size: 14px;
}

/* Active Button */
.drawer-button-landing.active {
  background-color: #f2feda;
  color: black;
}

/* Sidebar Icon Styling */
.icon-container-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  /* Fixed width for uniform alignment */
  height: 30px;
  padding-right: 8px;
}

/* Icons should be same size */
.icon-container-landing-page img {
  width: 20px;
  height: 20px;
  filter: grayscale(100%) brightness(50%);
}

/* Remove filter when active */
.drawer-button-landing.active .icon-container-landing-page img {
  filter: none;
}

/* Hover Effects */
.drawer-button-landing:hover {
  background-color: #f2feda;
  color: black;
}

.drawer-button-landing:hover .icon-container-landing-page img {
  filter: invert(17%) sepia(91%) saturate(3902%) hue-rotate(125deg) brightness(87%) contrast(97%);
}

@media (max-width: 768px) {
  .drawer-container-landing {
    width: 220px;
    padding: 15px;
  }

  .drawer-button-landing {
    padding: 10px 14px;
  }
}

.footer_box {
  padding: 10px 80px 10px 80px !important;
}

.footer_box2 {
  padding: 10px 0 10px 0px !important;
}

.aboutSec_box {
  padding: 30px 100px 30px 100px !important;
}

.box_ImportantInfo {
  padding: 20px 0px 20px 0px !important;
}

.paper_importantInfo {
  padding: 20px 50px 0px 0px !important;
}

.gridContainer_Header {
  padding: 10px 60px 0px 40px !important;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .gridContainer_Header {
    padding: 10px 50px 0px 30px !important;
  }
}

/* Large devices (desktops, 992px - 1199px) */
@media (max-width: 992px) {
  .gridContainer_Header {
    padding: 10px 40px 0px 25px !important;
  }
}

/* Medium devices (tablets, 768px - 991px) */
@media (max-width: 768px) {
  .gridContainer_Header {
    padding: 10px 30px 0px 20px !important;
  }
}

/* Small devices (phones, 576px - 767px) */
@media (max-width: 576px) {
  .gridContainer_Header {
    padding: 10px 20px 0px 15px !important;
  }
}

/* Extra small devices (small phones, below 576px) */
@media (max-width: 400px) {
  .gridContainer_Header {
    padding: 10px 15px 0px 10px !important;
  }
}

@media (max-width: 768px) {
  .footer_box {
    padding: 20px 30px 10px 30px !important;
  }

  .footer_box2 {
    padding: 10px 20px 10px 20px !important;
  }

  .aboutSec_box {
    padding: 30px 30px 30px 30px !important;
  }

  .box_ImportantInfo {
    padding: 20px 10px 23px 16px !important;
  }

  .paper_importantInfo {
    padding: 0px !important;
  }
}

@media (max-width: 384px) {
  .box_ImportantInfo {
    padding: 20px 10px 23px 16px !important;
  }

  .paper_importantInfo {
    padding: 0px !important;
  }
}

@media (max-width: 557px) {
  .gridContainer_ImportantInfo {
    flex-direction: column !important;
    margin: 15px 0 0 0;
  }
}

.img_mininstry_header {
  mix-blend-mode: difference;
  height: 36px;
  width: auto;
}
@media (max-width: 409px) {
  .img_mininstry_header {
    height: 8vw !important;
  }
}

.box_heroSection {
  /* Default height */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 1920px) {
  /* .box_heroSection {
     height: 950px; 
  } */
}

@media (min-width: 1330px) and (max-width: 1500px) {
  .box_heroSection {
    height: 455px;
  }
}

@media (min-width: 1210px) and (max-width: 1330px) {
  .box_heroSection {
    height: 455px;
  }
}

@media (max-width: 1210px) and (min-width: 1024px) {
  .box_heroSection {
    height: 455px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .box_heroSection {
    height: 435px;
  }
}

@media (min-width: 481px) and (max-width: 560px) {
  .box_heroSection {
    height: 455px;
  }
}

@media (min-width: 561px) and (max-width: 680px) {
  .box_heroSection {
    height: 455px;
  }
}

@media (min-width: 681px) and (max-width: 768px) {
  .box_heroSection {
    height: 275px;
  }
}

@media (max-width: 480px) {
  .box_heroSection {
    height: 455px;
  }
}

.video_HeroSection {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.blink_krph_helpline {
  animation: blink-animation 0.7s steps(1, start) infinite;
  -webkit-animation: blink-animation 0.7s steps(1, start) infinite;
}

@keyframes blink-animation {
  0%,
  100% {
    color: white;
  }
  50% {
    color: rgb(255, 151, 53);
  }
}
.container-footer {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  height: 35px;
}
.footer-link {
  background-color: #fff7f1;
  width: 100%;
}

.footer-link ul {
  display: inline-block;
  text-align: center;
  padding-left: 0;
}

.footer-link ul > li {
  display: inline-block;
  margin-right: 16px;
}

.footer-link ul > li a {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.footer-link ul > li a:hover {
  transition: all 0.3s ease;
  color: #085207;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer-link {
    padding: 10px 0 0;
  }
}
.newHeader__upperHeaderLogoH___3uufO {
  float: left;
  height: 30px;
  border-right: 0 solid #fff;
  padding-right: 0;
  margin-right: 10px;
  fill: #fff;
}

.newHeader__upperHeaderLogo___2oRzJ ul {
  display: flex;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.025rem;
  padding: 0;
}

.newHeader__upperHeaderLogo___2oRzJ ul li {
  list-style: none;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 0.5rem;
  margin-right: 8px;
}

.newHeader__upperHeaderLogo___2oRzJ ul li:first-child span {
  text-align: right;
}

.newHeader__upperHeaderLogo___2oRzJ ul li:last-child {
  border-right: 0;
}

.newHeader__upperHeaderLogo___2oRzJ ul li span {
  display: block;
}

@media (max-width: 767px) {
  .newHeader__InnerCalculator___1YK6V {
    width: 100%;
  }

  .newHeader__upperHeaderLogo___2oRzJ {
    display: flex;
    border-bottom: 1px solid hsla(90, 69%, 72%, 0.1);
    padding-bottom: 4px;
  }

  .newHeader__upperHeaderLogo___2oRzJ img {
    display: inline-block;
    max-width: 80%;
  }

  .newHeader__signInInner___247gk,
  .newHeader__upperHeaderText___35tGZ {
    text-align: left;
  }

  .newHeader__upperHeaderLogoH___3uufO {
    float: none;
    height: 30px;
    border-right: 0 solid #fff;
    padding-right: 10px;
    margin-right: 0;
  }
}
.css-1toxriw-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

.css-rizt0-MuiTypography-root {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.download-button {
  display: inline-flex;
  align-items: center;
  background-color: #074502;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 11px;
  border: 1px solid #ffffff80;
  box-shadow: 0 0 2px #ffffff80;
  transition: background-color 0.3s;
  font-weight: 500;
  height: 32px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .download-button {
    font-size: 11px;
    padding: 8px 25px;
  }

  .download-button .icon {
    width: 14px;
    height: 14px;
  }
}

.download-button .icon {
  margin-right: 8px;
  fill: white;
}
