.input_field_agent {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input_field_agent label {
  display: block;
  font-family: Quicksand, sans-serif !important;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}

.input_field_agent input {
  width: 100%;
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
}

.input_field_agent input:focus {
  border-color: #004d00;
}

.input_field_agent_ticket {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input_field_agent_ticket label {
  display: block;
  font-family: Quicksand, sans-serif !important;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}

.input_field_agent_ticket input {
  width: 100%;
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
}

.input_field_agent_ticket input:focus {
  border-color: #004d00;
}

.input_container_agent {
  display: flex;
  align-items: center;
}

.ticket-container_agent {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  margin-top: 14px;
}

.ticket-title_agent {
  font-weight: bold !important;
  font-family: Quicksand, sans-serif !important;
  font-size: 16px;
}

.ticket-content_agent {
  background: #fff;
  padding: 0 24px 0 24px;
  border-radius: 8px;
  margin-top: 4px;
  width: 100%;
}

.container_agentt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.ticket-label_agent {
  font-size: 14px;
  font-family: Quicksand, sans-serif !important;
  font-weight: 400 !important;
  margin-bottom: 5px !important;
}

.ticket-toggle-group_agent {
  display: flex;
  gap: 8px;
}

.ticket-toggle_agent {
  text-transform: none !important;
}

.container_agent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group_agent {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.form-label_agent {
  font-size: 14px;

  font-weight: 400;
  font-family: Quicksand, sans-serif !important;

  margin-bottom: 5px;
}

.form-select_agent {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

.text-field_agent {
  width: 100%;
  height: 100px;
  border: 2px solid #cccccc;
  margin-top: 3px !important;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  color: #6b7280;
  font-family: Quicksand, sans-serif;
}

.crop-toggle-group_agent {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.crop-toggle_agent {
  text-transform: none !important;
}

.form-grid_agent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.date-grid_agent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.date-input_agent {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

.button-container_agent {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.crop-button-group_agent {
  display: flex;
  font-family: Quicksand, sans-serif !important;
  border-radius: 10px;
  background-color: #f3f4f6 !important;
  padding: 10px;
  gap: 20px;
}

.buttons-container_agent {
  display: flex;
  gap: 40px;
  font-family: Quicksand, sans-serif !important;
}

.ticket-button-group_agent {
  display: flex;
  border: 1px solid transparent;
  background-color: #f3f4f6 !important;
  border-radius: 10px;
  padding: 5px;
  gap: 20px;
  font-family: Quicksand, sans-serif !important;
}

.buttons_agent {
  color: #030712 !important;
  background-color: transparent !important;
  border-radius: 10px !important;
  border: transparent !important;
  font-family: Quicksand, sans-serif !important;
  font-size: 13px !important;
}

.buttons_agent:hover {
  color: white !important;
  background-color: #004d00 !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
}

.buttons_agent_active {
  color: white !important;
  background-color: #004d00 !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
  font-family: Quicksand, sans-serif !important;
  font-size: 13px !important;
}

.success_container_img_agent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Success Icon */
.success-icon_agent {
  width: 80px;
  margin-bottom: 20px;
}

/* Ticket Information */
.success-ticket-info_agent {
  background: #f0f0f0;
  padding: 24px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
  font-family: Quicksand, sans-serif;

  width: 100%;
}

.success-ticket-number_agent {
  font-size: 30px;
  font-weight: bold;
  font-family: Quicksand, sans-serif;

  color: green;
  margin: 0;
  display: flex;
  justify-content: center;
}

.success-ticket-text_agent {
  font-size: 16px;
  color: #777;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Quicksand, sans-serif;
}

/* Success Message */
.success-message_agent {
  font-size: 18px;
  margin-top: 15px;
  padding: 0 20px;
  color: #333;
  width: 100%;
  font-family: Quicksand, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

/* Button Group */
.success-button-group_agent {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-family: Quicksand, sans-serif;

  gap: 12px;
}

/* Buttons */
.success-create-more_agent {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-family: Quicksand, sans-serif;

  font-size: 16px;
  cursor: pointer;
}

.success-farmer-feedback_agent {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  font-family: Quicksand, sans-serif;

  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.asteriskCss {
  color: red;
}

.login_ErrorTxt {
  font-size: 12px;
  color: #e54b4b;
  font-weight: 600;
}

.togg-btn-container_agent {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
  padding: 3px;
  background-color: #ffffff;
  height: 50px;
}

.togg-button_agent {
  padding: 9px 12px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.togg-button_agent::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: darkgreen;
  transition: transform 0.4s ease-in-out;
  z-index: 0;
}

.togg-button_agent.active::before {
  transform: translateX(100%);
}

.togg-button_agent.active {
  color: white;
}

.table-wrapper-multiple-application {
  height: 40vh;     
  overflow-y: auto; 
  width: 100%;
}
